<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
   <link rel="stylesheet" href="navbar.css">
</head>
<body>


       <nav class='main-nav'>
          <div class='logo'>
            <h2>Data Management System</h2>
          </div>
    
        <div class='menu-link'>
            <ul>
                

                <li>
                    <img src="image/signup.png" alt="profile" class='signup'/><a href='signup'>Signup</a>
                </li>
                
                <li>
                <img src="image/login.webp" alt="profile" class='logout'/> <a href='Login'>Login</a>
                </li>

                <li>
                <img src="image/logout.webp" alt="profile" class='logout'/> <a href='Logout'>Logout</a>
                </li>

            </ul>
        </div>
       </nav>
  
</body>
</html>
     
       
